{% extends "base.html" %}

{% block body %}
    <h1>{{ title }}</h1>
    {#  условие должно обязательно закрываться конструкцией {% endif %} #}
    {#  цикл так же должен закрываться конструкцией {% endfor %} #}
    {% for film in films %}
        <div onclick="location.href = '{{ url_for("get_film", film_id=film.id) }}'">
            <p>{{ film.name }}</p>
            <p>{{ film.rating }}</p>
        </div>
    {% endfor %}
    <div onclick="location.href = '{{ url_for("new_film") }}'">
        Do yo want to add a new film?
    </div>
{% endblock %}
